/**
* !Changing default styles of browser
**/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

.container{
    display: flex;
    gap: 40px;
}

.title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

/**
* !Style rules for form section
**/
form{
    max-width: 400px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    padding: 50px;
}

form > div > input {
    width: 100%;
    border-radius: 8px;
    height: 40px;
    outline: none;
    border: 2px solid #c4c4c4;
    padding: 0 30px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

form div label {
    display: block;
    margin-bottom: 5px;
}

form div{
    margin-bottom: 15px;
    position: relative; 
}

input:focus{
    border: 2px solid #f2796e;
}

/**
* ! style rules for social section
**/
.or{
    text-align: center;
    
}

.question{
    font-size: 15px;
}
.btn{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.btn-1 img, .btn-2 img{
    height: 30px;
}
.btn-1, .btn-2{
    padding: 10px 5px;
    width: 100%;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    border: 2px solid #c4c4c4;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

.btn-2{
    background-color: #4f70b5;
    color: white;
}

.btn-2 img{
    background-color: white;
    border-radius: 50%;
}

span{
    color: #f2796e;
    cursor: pointer;
}

/**
* !Styles rules for the form icons
**/
form div i{
    position: absolute;
    padding: 10px;
}

.failure-icon, .success-icon{
    right: 0;
    opacity: 0;
}
.failure-icon, .error{
    color:red;
}
.success-icon, .success{
    color: green;
}

.error{
    font-size: 14px;
    margin-top: 5px;
}

/**
* !Style rules for button
**/
button, #login-btn{
    margin-top: 15px;
    width: 100%;
    height: 45px;
    background-color: #f2796e;
    border: 2px solid #f2796e;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    transition: all 0.1s ease;
}

button:hover{
    opacity: 0.8
    
}

/**
* !Media Queries are here
**/

/**
* ! Login Form Styles Here
**/
.form-container {
    position: absolute;
    background: #eee;
    display: flex;
    width: 700px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
    user-select: none;
    height: 600px;
  }
  .form-container > div {
    width: 300px;
    margin: 10px;
    padding: 5px;
  }
  .form-container h1 {
    color: #0097a7;
    margin: 0px 5px;
    padding: 5px;
    border-bottom: 1px solid lightgray;
  }
  .form-container form {
    position: relative;
    width: 100%;
    padding: 5px 10px;
  }
  .form-container p {
    padding: 5px 10px;
    margin: 2.5px 0px;
  }
  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container input[type="password"] {
    width: 250px;
    padding: 7px 7px 7px 40px;
    margin: 5px 0px;
    outline: 1px solid #888;
    border: 0px solid #0000;
    border-radius: 5px;
  }
  .form-container input[type="text"]:focus,
  .form-container input[type="email"]:focus,
  .form-container input[type="password"]:focus {
    outline: 2px solid #ffab40;
  }
  .form-container input[type="checkbox"] {
    margin-right: 10px;
  }
  .flex-row {
    display: flex;
    align-items: center;
    font-size: 18px;
  }
  .form-container label {
    align-items: center;
    cursor: pointer;
  }
  .form-container input[type="submit"] {
    margin-left: auto;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #888;
    border-radius: 5px;
    background: #55ecfc;
    cursor: pointer;
  }
  .form-container input[type="submit"]:hover {
    background: #ffab40;
  }
  .form-container .input-icon {
    position: absolute;
    left: 10px;
    margin: 5px 0px;
    width: 30px;
    height: 29px;
    background: #ddd;
    outline: 1px solid #888;
    border-right: 0px solid #0000;
    border-radius: 5px 0px 0px 5px;
    text-align: center;
    line-height: 29px;
  }
  .form-container input:focus + .input-icon {
    color: #ffab40;
    outline: 2px solid #ffab40;
    margin: 5px 0px;
  }
  a {
    color: #0097a7;
    text-decoration: none;
  }
  a:hover {
    color: #ffab40;
  }
  #errorDisplay {
    position: absolute;
    background: #fcc;
    color: red;
    display: flex;
    width: 500px;
    left: 300px;
    /* top: calc(50% + 180px);  */
    top: 0px;
    transform: translate(-50%, 0%);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
    user-select: none;
    padding: 20px;
    display: none;
  }
  
  .form-control {
    margin-bottom: 20px;
  }
  
  .form-control.success input {
    border: 2px solid rgb(26, 167, 26);
  }
  
  .form-control.error input {
    border: 2px solid rgb(228, 29, 22);
  }
  
  .form-control small {
    position: absolute;
    margin: 3px;
    visibility: hidden;
  }